#div4{
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 40px;
}
.yy{
    /*无效*/
    background-color: #9400ff;
    width: 600px;
    height: 200px;
    border-radius: 100px;
    /*生效*/
    border:5px solid #9400ff;
}